version: '2'
services:
  go-server:
    build: ./server
    command: gin -a 8080 -b .gin-bin run
    ports:
     - "3000:3000"
    volumes:
     - ./server:/go/src/github.com/michaelg9/ISOC/server
    depends_on:
     - db
    environment:
     - DB_HOST=db
     - DB_USER=treigerm
     - DB_PWD=123
     - PORT=8080
  db:
    build: ./test_db
