.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.content {
    width: 50%;
}

.form-control {
    margin-bottom: 10px;
}

.btn.btn-default {
    vertical-align: top;
}

#uoe-logo {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .row.content {height:auto;}
}
