<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Dependencies for JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Dependencies for Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Dependencies for FileSaver.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
  <!-- Own JavaScript -->
  <script src="/static/js/TokenAuth.js"></script>
  <script src="/static/js/User.js"></script>
  <script src="/static/js/Downloads.js"></script>
  <!-- Own CSS -->
  <link rel="stylesheet" href="/static/style/dashboard.css">
  <script>
    $(document).ready(function() {
        // Logout the user on logout link
        $(".logout").on("click", function() {
            TokenAuth.logout().done(function(data, textStatus, jqXHR) {
                if (data == "Success") {
                    window.location = "../..";
                }
            }).fail(function() {
                // This should never happen
                console.error("Failed logout!");
                return false;
            });
        });

        $("#allBatteryJSON").on("click", function() {
            // Get the battery data from the current device in JSON format
            Downloads
            .getAllOfFeature("Battery", "json")
            .done(function(data) {
                var blob = new Blob([JSON.stringify(data)], {type: "application/json"});
                saveAs(blob, "Battery.json");
            }).fail(function(data, textStatus, jqXHR) {
                console.error(textStatus);
            });
          });
    });
  </script>
</head>
<body>
<!-- Collapsed Navbar -->
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Monitor</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="">Dashboard</a></li>
        <li class="active"><a href="">Admin</a></li>
        <li><a href="" class="logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main content -->
<div class="container-fluid">
  <div class="row content">

    <!-- Sidenav -->
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Monitor</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active"><a href="/dashboard/admin">Admin</a></li>
        <li><a href="" class="logout">Log out</a></li>
      </ul><br>
    </div>

    <!-- Feature download buttons -->
    <div class="col-sm-9 col-sm-offset-3">
      <!-- TODO: Use templates to auto generate download buttons for features. -->
      <div>
        <div class="pull-right">
            <a class="btn btn-info" id="allBatteryJSON">Download JSON</a>
            <a class="btn btn-info">Download XML</a>
        </div>
        <h2>Battery</h2>
      </div>
      <hr/>
      <div>
        <div class="pull-right">
          <a class="btn btn-info">Download JSON</a>
          <a class="btn btn-info">Download XML</a>
        </div>
        <h2>Something</h2>
      </div>
    </div>

  </div>
</div>

</body>
</html>
