<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp" ng-controller="dashboardController">
<head>
  <title>Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Dependencies for JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Dependencies for Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Dependencies for Angular.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- Dependencies for Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
  <!-- Dependencies for Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <!-- Dependencies for Bootbox.js -->
  <script src="https://cdn.jsdelivr.net/bootbox/4.4.0/bootbox.min.js"></script>
  <!-- Own JavaScript -->
  <script src="static/js/dashboard.js"></script>
  <!-- Own CSS -->
  <link rel="stylesheet" href="static/style/dashboard.css">
</head>
<body>
<!-- Collapsed Navbar -->
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Monitor</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Dashboard</a></li>
        <div ng-if="userInfo.admin">
          <li><a href="">Admin</a></li>
        </div>
        <li><a href="" class="logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main content -->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Monitor</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="">Dashboard</a></li>
        <li ng-if="userInfo.admin"><a href="">Admin</a></li>
        <li><a href="" class="logout">Log out</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h4>Device</h4>
            <div class="table-responsive">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td><b>Model:</b></td>
                    <td>{{deviceInfo.model}}</td>
                  </tr>
                  <tr>
                    <td><b>Manufacturer:</b></td>
                    <td>{{deviceInfo.manufacturer}}</td>
                  </tr>
                  <tr>
                    <td><b>Operating System:</b></td>
                    <td>{{deviceInfo.os}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h4>My Details</h4>
            <div class="table-responsive">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td><b>Email:</b></td>
                    <td>{{userInfo.email}}</td>
                    <td><a href="" id="editEmail">Edit</a></td>
                  </tr>
                  <tr>
                    <td><b>API key:</b></td>
                    <td>{{userInfo.apiKey}}</td>
                    <td><a href="" id="updateAPIKey">Get new key</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <div class="box-header">
              <h4>Battery</h4>
              <div class="form-group has-feedback">
                <input type="text" id="daterangepicker" class="form-control">
                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
              </div>
            </div>
            <canvas id="batteryChart" width="400" height="400"></canvas>
            <!--
            <a href="../data/{{userInfo.email}}/{{deviceInfo.id}}/Battery?appid={{userInfo.apiKey}}" class="btn btn-info" role="button" download="Battery.json">Download JSON</a>
            -->
            <a class="btn btn-info" role="button" ng-click="saveBatteryJSON()">Download JSON</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h4>Some other stuff</h4>
            <p>Some other graph...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
