<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mobile Data Analyser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Dependencies for Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Dependencies for JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Own CSS and JavaScript -->
  <link rel="stylesheet" href="static/style.css">
  <script src="static/js/index.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <button type="button" class="btn btn-default navbar-btn" id="login">Log In</button>
    </li>
  </ul>
</nav>

<!-- Main content -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-left content">
      <h1 style="text-align: center">Mobile Data Analyser</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-3" id="uoe-logo">
      <h4>Brought to you by:</h4>
      <a href="http://www.ed.ac.uk/" target="_blank">
        <img src="static/img/UoE_Logo.jpg" class="img-responsive" >
      </a>
    </div>
  </div>
</div>

</body>
</html>
