<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mobile Data Analyser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
        $("#login-btn").on('click', function(){
            var username = $("#username").val();
            var password = $("#password").val();
            var loginParams = {username: username, password: password};
            var loginURL = "http://192.168.99.100:3000/auth/0.1/login?";
            $.get({
                url: loginURL,
                data: loginParams
            }).done(function(data, textStatus, jqXHR) {
                if (data == "Success") {
                    window.location = "http://192.168.99.100:3000/dashboard";
                }
            }).fail(function() {
                console.log("Wrong password!");
                $("#alert-wrong-password").html('<div class="alert alert-danger">Wrong password or username.</div>');
                return false;
            });
        });
    });
    // Also log in when hit enter
    $(document).ready(function() {
        $(document).keypress(function(e) {
            var enter = 13;
            var key = e.which;
            if (key == enter) {
                $("#login-btn").click();
                return false;
            }
        });
    });
  </script>
</head>
<body id="body-login">
  <div class="container">
    <form class="form-signin">
      <div id="alert-wrong-password"></div>
      <input type="text" id="username" class="form-control" placeholder="Username">
      <input type="password" id="password" class="form-control" placeholder="Password">
      <div id="forgot-password">
        <a href="#">Forgotten password?</a>
      </div>
      <button id="login-btn" class="btn btn-primary" type="button">Log in</button>
    </form>
  </div>
</body>
