/* Set gray background color and 100% height */
.sidenav {
background-color: #f1f1f1;
position: fixed;
height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
.row.content {height: auto;}
}

.box-header > h4 {
float: left;
}

.box-header .form-group.has-feedback {
float: right;
width: 60%;
}

table.borderless {
margin-bottom: 0px !important;
}

table.borderless tbody tr td {
border: none !important;
}
